NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_FACEBOOK_APP_ID=your_facebook_app_id

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDfItD3bNPbp_bQPHwRNVVRMIvIrmM3fYM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=shopnicue.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=shopnicue
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=shopnicue.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=680156736322
NEXT_PUBLIC_FIREBASE_APP_ID=1:680156736322:web:39ff57c4780ed5b397f6db
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-JMP8HJ8TZJ
